<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout.html}">

<th:block layout:fragment="cssFrag">
    <link rel="stylesheet" href="/css/gameRoom.css">
</th:block>

<div class="container custom-container text-center" layout:fragment="content"  style="height:70vh">
    <div class="d-none" sec:authentication="principal.username" id="userId"></div>
    <div class="d-none" sec:authentication="principal.nickname" id="userNickname"></div>
    <div id="divRoomName" class="d-none" th:text="${roomName}"></div>
    <div th:if="${player == 'player0'}" class="row mb-2">
        <div id="divPlayerNo0" class="col fs-2 center-text bg-warning" th:text="${player}"></div>
        <div class="col fs-2 center-text text-bg-success" sec:authentication="principal.nickname"></div>
    </div>

    <div class="d-flex mb-3">
        <div class="p-2 position-relative flex-grow-0 flex-shrink-0" style="width: 420px">
            <div class="bg-secondary">
                <div id="p0_game_paddle" class="game_paddle player0_p_top bg-warning"></div>
                <div id="p1_game_paddle" class="game_paddle player1_p_top bg-info" ></div>
                <div id="game_ball" class="game_ball position-absolute"></div>
                <div id="wall_upper" class="wall_upper wall_horizontal position-absolute"></div>
                <div id="wall_lower" class="wall_lower wall_horizontal position-absolute"></div>
                <div id="wall_left" class="wall_left wall_vertical position-absolute"></div>
                <div id="wall_right" class="wall_right wall_vertical position-absolute"></div>
            </div>
        </div>
        <div class="p-2 bg-primary flex-grow-1 ms-2" id="chat_area" >
            <div >
                <div class="row fs-2 center-text" style="height:60px;">Send Message</div>
                <div class="row mb-3" style="height:370px"><div class="form-floating">
                    <textarea class="form-control" id="taChatMsg" style="height:100%" placeholder="Leave a comment here"></textarea>
                    <label for="taChatMsg">Comments</label>
                </div></div>
                <div class="row" style="height:60px"><div class="input-group mb-3">
                    <input type="text" class="form-control" id="txtChatMsg" placeholder="Send Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><button class="btn btn-primary" id="btnSendMessage">보내기</button></span>
                </div></div>
            </div>
        </div>
    </div>


    <div th:if="${player == 'player1'}" class="row mb-2">
        <div id="divPlayerNo1" class="col fs-2 center-text bg-info mx-3" th:text="${player}"></div>
        <div class="col fs-2 center-text text-bg-success mx-3" sec:authentication="principal.nickname"></div>
    </div>
    <div class="mt-2 d-flex align-items-start">
        <button id="start" class="btn btn-primary" disabled>start</button>
        <button id="stopGame" class="btn btn-danger" disabled>stop</button>
        <button id="toLeft" class="btn btn-secondary">Left</button>
        <button id="toRight" class="btn btn-secondary">Right</button>
    </div>

    <script src="/js/socket.io.min.js"></script>
    <script src="/js/ping/pingGameRoom.js"></script>
</div>

