<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout.html}">

<div class="container" layout:fragment="content">
    <div class="d-none" sec:authentication="principal.username" id="userId"></div>
    <div class="d-none" sec:authentication="principal.nickname" id="userNickname"></div>
    <div class="alert alert-dark" role="alert">
        Waiting Room
    </div>
    <table class="table" id="roomListTable">
        <thead>
        <tr>
            <th scope="col">개설자 id</th>
            <th scope="col">참가인원</th>
            <th scope="col">참가</th>
        </tr>
        </thead>
        <tbody id="tbodyRoomListTable">
        </tbody>
    </table>

    <div class="mb-3">
        <label for="txtMakeRoomName" class="form-label">방 만들기</label>
        <input type="text" class="form-control" id="txtMakeRoomName" placeholder="Name of room to Make">
        <button id="btnMakeRoom" class="btn btn-primary">Make Room</button>
    </div>

    <script src="/js/socket.io.min.js"></script>
    <script src="/js/waitingRoom.js"></script>
</div>


