 .game_ball{
     left : 20px;
     top : 200px;
     width : 20px;
     height : 20px;
     border-radius : 50%;
     background-color: black;
 }
.game_paddle{
    width : 80px;
    height : 20px;
    left : 180px; /* 210-180 */
    position :absolute;
    border-radius: 20%;
}
/* paddle 충돌 체크
    paddle_0 30  +- 10
    paddye_1 470 +- 10
    paddle_x n 정해주고   n+-paddle_width
*/
.player0_p_top{
    top : 30px; /* 10 <->  30-50   pos=40  그릴때는 -10->+10*/
}
.player1_p_top{
    top : 470px; /* 470-490 <-> 510 pos=480  그릴때는 -10->+10*   */
}
/*
  벽 충돌 체크
     js  const board_left  10  board_right=410
        const board_upper 10  board_lower = 510
*/
.wall_horizontal{
    left : 0px;
    width : 420px;
    height : 10px;
    border-radius : 5%;
    background-color: black;
}
.wall_vertical{
    top : 0px;
    height : 520px;
    width : 10px;
    border-radius : 5%;
    background-color: black;
}
.wall_left{
    left : 0px;
}
.wall_right{
    left : 410px;
}
.wall_upper{
    top : 0px;
}
.wall_lower{
    top : 510px;
}

html, body {
    height: 100%;
}
.custom-container {
    height: 100%;
}
.borad-height{
    height: 520px;
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 770px) {
    #chat_area {
        display: none;
    }
}

