@charset "utf-8";
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { margin:0; padding:0; box-sizing: border-box; }
html { scroll-behavior:smooth; }
body { font-family:'NanumSquareRound','맑은 고딕', sans-serif; font-size:14px; font-weight: 400; color:#333; }
li { list-style: none;}
img,video { vertical-align:middle; }
a { text-decoration:none; }
.clearfix:after { content:""; display:block; clear:both; }


.s_membership {height: 680px; padding-top: 8%; background:linear-gradient(58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 49.3%, rgba(255, 204, 112, 0.37) 97.7%)}
/*height:(높이값 안주면 내용만큼만 나온다).padding-top: 10%는 자기 상위요소의 10%임, 지그은 높이가 100vh니까 화면 전체값의 10%*/
.membership_1 { width: 380px; padding: 20px; border: 1px solid #333;}
h1 {text-align: center; height: 80px; font-size: 40px;}
.login_form { width: 450px; margin: 0 auto; border: 1px solid #333; padding: 20px;}
.login_form>form>div { margin: 10px 0;}

label {width: 120px; display: inline-block; font-size: 16px; font-weight: 700; }

input[type="submit"] { display: inline-block; padding: 6px 36px; font-size:16px; border-radius:15px;  border:1px solid #999 ;}
input:not([type="button"]){ outline: none;}
input[type="text"] { width: 270px; height: 40px;}
input[type="password"] { width:270px; height: 40px; }
.login_btn {text-align: center;}
/*.login_btn {display: flex; justify-content: space-between;}도 가능하다. 왜냐면 input[type="button"]을{ display: inline-block;처리를 해놔서*/
input:checked { accent-color: #fcc;} /*체크하는곳- 기존 파랑색에서 원하는 색상으로 바꿈*/ 
input[value="로그인"] { background-color: #ffa07a;}
.login_btn>input:hover {cursor: pointer; color: blue; background-color: #6ea8fe}
/*호버시 커서모양생기고 글색 바뀜*/

