<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout.html}">

<div class="container" layout:fragment="content">
    <div class="d-none" sec:authentication="principal.username" id="userId"></div>
    <div class="d-none" sec:authentication="principal.nickname" id="userNickname"></div>
    <div class="alert alert-dark" role="alert">
        Quiz 대기실
    </div>
    <table class="table" id="roomListTable">
        <thead>
        <tr>
            <th scope="col">개설자 Nickname</th>
            <th scope="col">참가인원</th>
            <th scope="col">참가</th>
        </tr>
        </thead>
        <tbody id="tbodyRoomListTable">
        </tbody>
    </table>

    <div class="mb-3 mt-5">
        <button id="btnMakeRoom" class="btn btn-primary">새 방 만들기</button>
    </div>

    <script src="/js/socket.io.min.js"></script>
    <script src="/js/quiz/quizWaitingRoom.js"></script>
</div>