<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout.html}">

<div class="container" layout:fragment="content">

    <div class="row" style="height : 650px; background-color: #eeeeee; padding : 20px 0">
        <div class="col-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/image/image1.jpg" class="card-img-top" alt="gameImage1">
                <div class="card-body">
                    <h5 class="card-title">Game1</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">랭킹</th>
                            <th scope="col">아이디</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>킹</td>
                            <td>홍길동</td>
                        </tr>
                        <tr>
                            <td>왕</td>
                            <td>무명남</td>
                        </tr>
                        <tr>
                            <td>짱</td>
                            <td>무명녀</td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/ping/waitingroom}" class="btn btn-primary">대기실</a>
                </div> <!--/* end of class card body */-->
            </div> <!--/* end of class card */-->
        </div>  <!--/* end of class col-4 */-->
        <div class="col-4  d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/image/image1.jpg" class="card-img-top" alt="gameImage2">
                <div class="card-body">
                    <h5 class="card-title">PINGPONG</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">랭킹</th>
                            <th scope="col">아이디</th>
                            <th scope="col">승리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>킹</td>
                            <td>[[${pingRankList[0].nickname}]]</td>
                            <td>[[${pingRankList[0].winCount}]]</td>
                        </tr>
                        <tr>
                            <td>왕</td>
                            <td>[[${pingRankList[1].nickname}]]</td>
                            <td>[[${pingRankList[1].winCount}]]</td>
                        </tr>
                        <tr>
                            <td>짱</td>
                            <td>[[${pingRankList[2].nickname}]]</td>
                            <td>[[${pingRankList[2].winCount}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/ping/waitingroom}" class="btn btn-primary">대기실</a>
                </div>   <!--/* end of class card body */-->
            </div> <!--/* end of class card */-->
        </div> <!--/* end of class col-4 */-->
        <div class="col-4  d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/image/image1.jpg" class="card-img-top" alt="gameImage3">
                <div class="card-body">
                    <h5 class="card-title">상식 퀴즈 대전</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">랭킹</th>
                            <th scope="col">아이디</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>킹</td>
                            <td>홍길동</td>
                        </tr>
                        <tr>
                            <td>왕</td>
                            <td>무명남</td>
                        </tr>
                        <tr>
                            <td>짱</td>
                            <td>무명녀</td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/ping/waitingroom}" class="btn btn-primary">대기실</a>
                </div> <!--/* end of class card body */-->
            </div> <!--/* end of class card */-->
        </div> <!--/* end of class col-4 */-->
    </div> <!--/* end of class row */-->

    <script th:inline="javascript">
        const passwordModified = [[${passwordModified}]];
        if(passwordModified) alert("비밀 번호가 변경 되었습니다, 다시 로그인 하세요")
        const withdrawn = [[${withdrawn}]];
        if(withdrawn) alert("정상적으로 회원 탈퇴 되었습니다")
    </script>
</div>