<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout.html}">

<th:block layout:fragment="cssFrag">
    <link rel="stylesheet" href="/css/home.css">
</th:block>

<div class="container" layout:fragment="content">

    <div class="row" style="height : 680px; background:linear-gradient(58.2deg, rgba(255, 204, 112, 0.3) -3%, rgba(171, 53, 163, 0.5) 49.3%, rgba(40, 91, 212, 0.7) 97.7%);  padding : 20px 0; border-radius: 6px">
        <div class="col-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/image/ddong_game.png" height="240px" class="card-img-top" alt="gameImage1">
                <div class="card-body">
                    <h5 class="card-title">낙하물 피하기</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">랭킹</th>
                            <th scope="col">아이디</th>
                            <th scope="col">등급</th>
                            <th scope="col">승리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ranker, i :  ${ladderRankList}">
                            <td>[[ ${i.index +1} ]] </td>
                            <td>[[${ranker.nickname}]]</td>
                            <td th:if="${ranker.grade == 0}"><div class="td_view_grade_0" >G</div></td>
                            <td th:if="${ranker.grade == 1}"><div class="td_view_grade_1" >Z</div></td>
                            <td th:if="${ranker.grade == 2}"><div class="td_view_grade_2" >W</div></td>
                            <td th:if="${ranker.grade == 3}"><div class="td_view_grade_3" >K</div></td>
                            <td>[[${ranker.winCount}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/ddong/waitingroom}" class="btn btn-sm btn-primary">대기실</a>
                    <a href="http://localhost:8080/result/listRanker?page=0&game_kind=LADDER&order_by=winCount&order=DESC" class="btn btn-sm btn-success">전체 성적</a>
                </div> <!--/* end of class card body */-->
            </div> <!--/* end of class card */-->
        </div>  <!--/* end of class col-4 */-->
        <div class="col-4  d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/image/pingpong.jpg" height="240px" class="card-img-top" alt="gameImage2">
                <div class="card-body">
                    <h5 class="card-title">PINGPONG</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">랭킹</th>
                            <th scope="col">아이디</th>
                            <th scope="col">등급</th>
                            <th scope="col">승리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ranker, i :  ${pingRankList}">
                            <td>[[ ${i.index +1} ]] </td>
                            <td>[[${ranker.nickname}]]</td>
                            <td th:if="${ranker.grade == 0}"><div class="td_view_grade_0" >G</div></td>
                            <td th:if="${ranker.grade == 1}"><div class="td_view_grade_1" >Z</div></td>
                            <td th:if="${ranker.grade == 2}"><div class="td_view_grade_2" >W</div></td>
                            <td th:if="${ranker.grade == 3}"><div class="td_view_grade_3" >K</div></td>
                            <td>[[${ranker.winCount}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/ping/waitingroom}" class="btn btn-sm btn-primary">대기실</a>
                    <a href="http://localhost:8080/result/listRanker?page=0&game_kind=PING&order_by=winCount&order=DESC" class="btn btn-sm btn-success">전체 성적</a>
                </div>   <!--/* end of class card body */-->
            </div> <!--/* end of class card */-->
        </div> <!--/* end of class col-4 */-->
        <div class="col-4  d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/image/quiz.jpg" height="240px" class="card-img-top" alt="gameImage3">
                <div class="card-body">
                    <h5 class="card-title">상식 퀴즈 대전</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">랭킹</th>
                            <th scope="col">아이디</th>
                            <th scope="col">등급</th>
                            <th scope="col">승리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ranker, i :  ${quizRankList}">
                            <td>[[ ${i.index +1} ]] </td>
                            <td>[[${ranker.nickname}]]</td>
                            <td th:if="${ranker.grade == 0}"><div class="td_view_grade_0" >G</div></td>
                            <td th:if="${ranker.grade == 1}"><div class="td_view_grade_1" >Z</div></td>
                            <td th:if="${ranker.grade == 2}"><div class="td_view_grade_2" >W</div></td>
                            <td th:if="${ranker.grade == 3}"><div class="td_view_grade_3" >K</div></td>
                            <td>[[${ranker.winCount}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/quiz/waitingroom}" class="btn btn-sm btn-primary">대기실</a>
                    <a href="http://localhost:8080/result/listRanker?page=0&game_kind=QUIZ&order_by=winCount&order=DESC" class="btn btn-sm btn-success">전체 성적</a>
                </div> <!--/* end of class card body */-->
            </div> <!--/* end of class card */-->
        </div> <!--/* end of class col-4 */-->
    </div> <!--/* end of class row */-->

    <!--/*  넘어온 결과에 대한 표시 */-->
    <script th:inline="javascript">
        const passwordModified = [[${passwordModified}]];
        const withdrawn = [[${withdrawn}]];
        const saveResult = [[${saveResult}]];
        const sendedEmail = [[${sendedEmail}]];
        const modifyNick = [[${modifyNick}]];
        const social = [[${social}]];
        let strSaveResult
        if(saveResult) strSaveResult = saveResult.toString()
        let strSocial
        if(social)  strSocial=social.toString()
        if(passwordModified) alert("비밀 번호가 변경 되었습니다, 다시 로그인 하세요");
        else if(withdrawn) alert("정상적으로 회원 탈퇴 되었습니다");
        else if(saveResult) alert('회원 가입이 성공하였어요, 로그인하세요');
        else if(sendedEmail) alert('비밀번호 수정용 mail을 발송하였습니다');
        else if(modifyNick) alert('nickname이 변경되었어요, 다시 로그인하세요');
        else if(strSocial !== 'false') alert(strSocial)
    </script>
</div>