<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" >

<div class="container" layout:fragment="content">
    <div>
        <div class="fs-4 text-danger mb-3" th:if="${param.error}">
            <span th:text="${message}"></span>
        </div>
    </div>
    <div>
        <form th:action="@{/auth/login}" method="post">
            <div class="mb-3">
                <label for="id" class="form-label">id(Email)</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="Email id">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name=password placeholder="password">
            </div>
            <Button class="btn btn-primary">Login</Button>
        </form>
    </div>

</div>
